DB_NAME=you-database-name
DB_USERNAME=your-database-username
DB_PASSWORD=your-database-password
DB_HOST=your-databse-host
DB_PORT=your-database-port

PORT=your-server-port

JWT_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRES_IN=3m
REFRESH_TOKEN_EXPIRES_IN=7d
